In [37]:
import pandas as pd

In [38]:
df = pd.read_csv(r"C:\Users\Hasini\Downloads\us_customer_data_.csv")

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [40]:
df.isnull().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [41]:
df = df.drop_duplicates(subset='customer_id', keep='first')

In [42]:
# 2. Clean the name column
df['name'] = df['name'].str.strip().str.title()

In [43]:
df['email'] = df.apply(
    lambda row: f"{row['name'].replace(' ', '').lower()}@company.com"
    if pd.isna(row['email']) else row['email'].strip().lower(),
    axis=1
)

In [44]:
df.isnull().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [45]:
df['phone'] = df['phone'].fillna('0000000000')  # Fill true nulls
df['phone'] = df['phone'].astype(str).str.replace(r'\D', '', regex=True)

In [46]:
df['phone'] = df['phone'].apply(
    lambda x: f"+1-{x[:3]}-{x[3:6]}-{x[6:10]}" if len(x) == 10 else "+1-000-000-0000"
)

In [47]:
df[['name', 'email', 'phone']].head()

               name                        email            phone
0     Michelle Kidd           vayala@example.net  +1-619-723-4258
1       Brad Newton  taylorcatherine@example.net  +1-537-674-1158
2      Larry Torres         dsanchez@example.net  +1-810-256-4505
3    Kimberly Price    jessicaknight@example.com  +1-423-222-9779
4  Matthew Phillips        qwilliams@example.com  +1-220-763-3522

In [48]:
df.to_csv("cleaned_customer_contacts_2Q.csv", index=False)