In [1]:
import pandas as pd

In [2]:
retail = pd.read_csv(r"C:\Users\Hasini\Downloads\us_customer_data_.csv")

In [3]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [4]:
retail.isnull().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [5]:
retail["customer_id"].nunique()

1000

In [6]:
retail = retail.drop_duplicates(subset='customer_id', keep='first')

In [7]:

retail.isnull().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [8]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [9]:
retail['name'] = retail['name'].str.strip().str.title()

In [10]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [11]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [12]:
retail['email'] = retail.apply(
    lambda row: f"{row['name'].replace(' ', '').lower()}@company.com" 
    if pd.isna(row['email']) 
    else row['email'].strip().lower(),
    axis=1
)

In [13]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [14]:
retail.isnull().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [15]:
import random
def random_phone():
    return str(random.randint(1000000000, 9999999999))

retail['phone'] = retail['phone'].astype(str).str.replace(r'[^\d]', '', regex=True)
retail['phone'] = retail['phone'].apply(lambda x: x if len(x) == 10 else random_phone())

In [16]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [17]:
retail.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [18]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [19]:
retail.to_csv("clean_data.csv", index=False)